* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 0.9em;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #8a8a8a;
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;
  border: none;
  border-radius: 2px;
}
nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #0a0a0a;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #151414;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  background: #222121;
}

main {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

footer {
  margin: 40px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

#home {
  background: #222121;
}

#sobre {
  background: #151414;
}

#projetos {
  background: #222121;
}

#skills {
  background: #151414;
}

p {
  color: #eeeeee;
  font-size: 25px;
}

.titulo {
  color: #eeeeee;
  font-size: 6vh;
  padding: 5vh;
  text-align: center;
}

.linkedin {
  text-decoration: none;
  color: #fff;
}

.foto-perfil {
  width: auto;
  height: 40vh;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 10px 10px 0px;
}

.sobre {
  width: 960px;
  margin: auto;
}

.botao {
  padding: 10px;
  margin: 10px;
  background-color: #151414;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
}

@media (max-width: 999px) {
  .apresentacao,
  .conteudo-sobre,
  .conteudo-projetos,
  .conteudo-skills {
    height: 100vh;
  }
  .apresentacao {
    height: 80vh;
  }

  .apresentacao p {
    margin: auto;
    padding: 20px;
    font-size: 2.5em;
    text-align: center;
  }

  .botao {
    margin: auto;
    align-content: center;
    margin-top: 20px;
    padding: 30px;
    font-size: 1.75em;
  }

  .bt-container {
    text-align: center;
  }

  .foto-perfil {
    text-align: center;
    margin: auto;
    height: 50vh;
  }

  .conteudo-sobre {
    height: 140vh;
  }

  .conteudo-sobre p {
    font-size: 3vh;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-indent: 0;
    line-height: 35px;
  }
}

@media (max-width: 600px) {
  .apresentacao,
  .conteudo-sobre,
  .conteudo-projetos,
  .conteudo-skills {
    height: 150vh;
  }
  .apresentacao {
    height: 400px;
  }

  .apresentacao p {
    margin: auto;
    padding: 20px;
    font-size: 1.8em;
    text-align: center;
  }

  .botao {
    margin: auto;
    align-content: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.8em;
  }

  .bt-container {
    text-align: center;
  }

  .foto-perfil {
    text-align: center;
    margin: auto;
    height: 40vh;
  }

  .conteudo-sobre {
    height: 950px;
  }

  .conteudo-sobre p {
    font-size: 1.2rem;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-indent: 0;
    line-height: 35px;
  }
}

@media (max-width: 320px) {
  .apresentacao,
  .conteudo-sobre,
  .conteudo-projetos,
  .conteudo-skills {
    height: 180vh;
  }

  .apresentacao {
    height: 350px;
  }

  .apresentacao p {
    margin: auto;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
  }

  .botao {
    margin: auto;
    margin-top: 20px;
    align-content: center;
    padding: 20px;
    font-size: 1.6em;
  }

  .bt-container {
    text-align: center;
  }

  .conteudo-sobre {
    height: 1100px;
  }

  .conteudo-sobre p {
    font-size: 1.2rem;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    text-indent: 0;
    line-height: 35px;
  }

  .foto-perfil {
    margin: auto;
    text-align: center;
    height: 35vh;
  }
}
